@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Varibles */
:root {
  --blueColor: #0057ff;
  --whiteColor: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--blueColor);
}

a {
  text-decoration: none;
  color: var(--whiteColor);
}

.header {
  background-color: var(--blueColor);
  width: 100%;
}

@media (max-width: 768px) {
  nav {
    padding-top: 30px;
    gap: 60px;
    padding-bottom: 30px;
  }

  .lessthan-icon {
    margin-top: 8px;
  }

  .nav-item-1 {
    gap: 10px;
    margin-top: 10px;
  }

  .home-year {
    justify-content: space-between;
    margin-left: 10px;
  }

  .search {
    position: relative;
    width: 300px;
    border-radius: 40px;
    padding: 10px 20px;
    outline: none;
    background-color: var(--blueColor);
    border: 2px solid black;
  }

  .search::placeholder {
    color: var(--whiteColor);
    font-size: 1.2em;
  }

  .search-icon {
    position: absolute;
    top: 0;
    font-size: 1.3em;
    margin-top: 45px;
    z-index: 1000;
    width: 72%;
    color: var(--whiteColor);
  }

  .mic-icon,
  .settings-icon {
    margin-top: 15px;
    font-size: 1.4em;
  }

  .country-container {
    margin-left: 30px;
    color: rgb(61, 59, 59);
  }

  .country-name {
    color: var(--whiteColor);
    text-align: center;
  }
}
